{% extends 'base.html' %}

{% block content %}
<style type="text/css">


</style>



<div class="container">

  <h2>Project: <a href="{% url 'project:project_update' pk=project_details.id %}">{{project_details.name}}</a></h2>
  <p>Belongs to: <a href="{% url 'account:view' user_id=project_details.user.id %}">{{project_details.user}}</a></p>
  <p>Project start: {{project_details.date_created}}</p>
  <p>Due: {{project_details.target_completion}}</p>
  <p>Description: {{project_details.description}}</p>
  <p>
    Stages:
    {% if request.user.is_staff %}
      <a href="{% url 'project:stage_create' pk=project_details.id %}">Add Stage</a>
    {% endif %}
  </p>
  {% for stage in project_details.stages.all %}

    <p>Stage: <a href="{% url 'project:stage_update' pk=stage.id %}">{{stage.type}}</a> Due: {{stage.target_completion}}</p>
    <p>{{stage.info}}</p>
    <p>Updates:</p>
    <p>
      {% if request.user.is_staff %}
        <a href="{% url 'project:stageupdate_create' pk=stage.id %}">Add update</a>
      {% endif %}
    </p>

    {% for stageupdate in stage.stageupdates.all %}
    <p> <a href="{% url 'project:stageupdate_update' pk=stageupdate.id %}"> {{stageupdate.date_created}}: {{stageupdate.text}}</a></p>
    {% endfor %}


  {% endfor %}

</div>

{% endblock content %}
