{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>
  {% if not form.instance.pk %}
  New Update
  {% else %}
  Change Update
  {% endif %}
</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Save">
    {% if form.instance.pk %}
      <a href="{% url 'project:stageupdate_delete' pk=stageupdate.pk %}" class="btn btn-primary">Delete</a>

    {% endif %}
  </form>


{% endblock content %}
